<header class="site-header">
  <nav class="site-nav navbar">
    <div class="container">
      <div class="navbar-inner">
        <a class="navbar-brand" routerLink="'/'">
          <span>Heap</span>
        </a>
        <div class="nav-list">
          <div class="nav-list-inner">
            <ul >
              <li *ngFor="let item of menus"><a  href="{{ item.link }}" class="{{ item.css_class }}">{{ item.name }}<span></span></a></li>

              <!--<li><a href="#!" class="menu-item">Backend<span></span></a></li>-->
              <!--<li><a href="#!" class="menu-item">Design<span></span></a></li>-->
              <!--<li><a href="#!" class="menu-item">Testing<span></span></a></li>-->
              <!--<li><a href="#!" class="menu-item">О нас<span></span></a></li>-->

            </ul>
          </div>
        </div>
        <div class="nav-search">
          <ul class="navbar-nav navbar-right">
            <li><a href="" (click)="initSearch(); false" ><i  id="btn-search" class="fa fa-search btn--search"></i></a></li>
          </ul>
        </div>
        <div class="nav-social">
          <ul class="navbar-nav navbar-right">
            <li><a href="#!"><i class="fa fa-vk"></i></a></li>
            <li><a href="#!"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#!"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#!"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>

      </div>
    </div>
  </nav><!--end site-nav-->
</header><!--end site-header-->
