<section class="main-article">     <!--main-article-->
  <article *ngFor="let post of posts | slice:0:1;">
    <div class="row">
      <div class="col-md-5" >
        <div class="main-inner">
          <header>
            <h2><a [routerLink]="['/post',  post.id]" class="mn-link">{{post.title}}</a>
            </h2>
            <p class="main-subtitle"> Написал <a class="m-sub-autor" href="#!">{{ post.user }}</a> в
              <a href="#!" class="m-sub-cat">{{ post.category }}</a> {{ post.created | date: 'mediumDate' }}</p>
          </header>
          <p class="main-text">
            {{ post.pretext }}
          </p>
          <footer class="main-footer">
            <ul>
              <li><i id="social" class="ic fa fa-heart-o"></i><span> {{ post.likes }}</span></li>
              <li><i class="fa fa-comment-o"></i><span> {{ post.comments }}</span></li>
              <li><i class="fa fa-eye"></i><span> {{ post.views }}</span></li>

            </ul>
            <a [routerLink]="['/post', post.id]" >Читать далее&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          </footer>
        </div>
      </div>
      <div class="col-md-7 he-right col-sm-12">
        <div class="he-inner">

        <a [routerLink]="['/post', post.id]" class="he-img img-responsive"><img width="580" height="315"  src="{{post.imgUrl}}" alt=""  sizes="(max-width: 580px) 100vw, 580px"></a>
      </div>
    </div>
    </div>


    <div class="clearfix"></div>


  </article>
</section> <!--end main article-->
