<section class="main-article">     <!--main-article-->
  <article>
    <div class="row">
      <div class="col-md-5">
        <div class="main-inner">
          <header>
            <h2><a href="" class="mn-link">Инструкция: как перевестипроект
              Django с SQLite на MySQL
              без боли</a>
            </h2>
            <p class="main-subtitle"> Написал <a class="m-sub-autor" href="#!">Админ</a> в
              <a href="#!" class="m-sub-cat">Базы данных</a> 3 Марта</p>
          </header>
          <p class="main-text">
            SQLite3 является СУБД-движком по умолчанию в Python
            веб-фреймворке Django, а также, как сообщается на
            официальном сайте проекта, самым часто используемым
            движком в мире
          </p>
          <footer class="main-footer">
            <ul>
              <li><i id="social" class="ic fa fa-heart-o"></i><span> 15</span></li>
              <li><i class="fa fa-comment-o"></i><span> 25</span></li>
              <li><i class="fa fa-eye"></i><span> 30</span></li>

            </ul>
            <a href="#!">Читать далее&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          </footer>
        </div>
      </div>
      <div class="col-md-7 he-right col-sm-12">
        <div class="he-inner">

        <a href="" class="he-img"><img width="580" height="315" class="img-responsive" src="assets/img/startup-photos.jpg" alt=""  sizes="(max-width: 580px) 100vw, 580px"></a>
      </div>
    </div>
    </div>


    <div class="clearfix"></div>


  </article>
</section> <!--end main article-->
