<section class="he-articles"> <!--articles-->
  <div class="row">

    <div *ngFor="let post of posts" class="col-md-4">
      <article>
        <div class="article-entry">
          <div class="meta-thumb">
            <a [routerLink]="['/post',  post.id]" > <img width="1024" height="777" src="{{post.imgUrl}}"    sizes="(max-width: 1024px) 100vw, 1024px"></a>


          </div>
          <div class="post-content-container">

            <div class="post-meta post-meta-one">
                                                <span class="post-meta-author">Написал <a href="#!" class="bypostauthor">{{ post.user }} </a>
                                                </span>
              <a href="#!" >{{ post.created | date: 'mediumDate' }}</a>
            </div>

            <a [routerLink]="['/post',  post.id]" class="post-title">
              <h2>{{post.title}}</h2>
            </a>

            <div class="post-content">
              {{ post.pretext }}</div>

            <footer class="">
              <ul>
                <li><i id="social" class="ic fa fa-heart-o"></i><span> {{ post.likes }}</span></li>
                <li><i class="fa fa-comment-o"></i><span> {{ post.comments }}</span></li>
                <li><i class="fa fa-eye"></i><span> {{ post.views }}</span></li>

              </ul>

            </footer>
          </div>



        </div>
      </article>
      </div>
    </div>
</section>

