<div class="container">
  <div class="row">
    <div class="col-lg-10 col-sm-12">
      <div  class="he-article" >
        <article >
          <header>
            <div class="he-subtitle">
              <img alt=""  class="icon-user" src="https://secure.gravatar.com/avatar/1b17d4931f914ee75c7f5e5dc7b17734?s=36&amp;d=identicon&amp;r=g" srcset="https://secure.gravatar.com/avatar/1b17d4931f914ee75c7f5e5dc7b17734?s=72&amp;d=identicon&amp;r=g 2x" class="avatar avatar-36 photo" height="36" width="36">
              <div class="subtitle-author">
                <span>
                  Написал
                  <a href="">{{ article.user}}</a>
                  в
                </span>
              </div>
            </div>
          </header>
        </article>
      </div>

    </div>
  </div>
</div>
