@font-face {
    font-family: 'Rex Inline';
    src: local('Rex Bold Inline'), local('RexBoldInline'), url('rexboldinline.woff2') format('woff2'), url('rexboldinline.woff') format('woff'), url('rexboldinline.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
